<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome to chat in Tokyo !</title>
  </head>
  <body>
    <header>
      <div class="heading">
        <h1 class="title">Welcome to "Chat in Tokyo !"</h1>
      </div>
      <div class="navbar">
      <ul class="nav-lists">
        <li><a href="users/sign_in">Sign in</a></li>
        <li><a href="users/sign_up">Sign up</a></li>
      </ul>
      </div>
    </header>

    <div class="contents">
      <div class="first-view">
        <!-- 『トップ画像』を表示する --> 
        <%= image_tag asset_path("image.jpeg", alt: "toppage"),  class:"top-image" %>
        
      </div>
      <div class="upper-content">
        <!-- Chat in Tokyoを紹介する -->
        <h2 class="heading-name">About us</h2>
          <div class="details"> Thank you for visiting "Chat in Tokyo" !
          <p>This is a community site which was created for non-Japanese who live in Tokyo.</P>
          There are multiple group chats which you can join ! Also you can create group chats for talking with others !
          <p>Groups chats are mostly for meeting up such as drinking, going out... </p>
          This website is only for registers. Please sign up for communicating with others !
          </div>
      </div>
    </div>
    <footer>
      <p>Copyright(C) Chat in Tokyo ALL RIGHTS RESERVED.</p>        
    </footer>
  </body>
</html>