<div class='chat-room-form'> 
  <h1>Create chat room</h1>
  <%=form_with model: @room, local: true do |f|%>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :chatroom_name, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :name, class: 'chat__room_name chat-room-form__input', placeholder: 'type a chatroom name'%>
      </div>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'></div>
      <div class='chat-room-form__field--right'>
        <%= f.submit class: 'chat-room-form__action-btn'%>
      </div>
    </div>
  <% end %>
</div>
<div class='caution-messages'>
  <p>1 - Please name the chatroom as other members can understand the content easily.</p>
  2 - Please update the chatroom name constantly if the content changes.
</div>
<p class='thank-you'> 
  Thank you for your corporation !
</p>

